@import url(./__title/form__title.css);
@import url(./__input-field/form__input-field.css);
@import url(./__submit-button/form__submit-button.css);

.form {
  width: 100%;
  height: 100%;
  padding: 0 36px 0;
  overflow: hidden;
  box-sizing: border-box;
}

@media screen and (max-width: 630px) {
  .form {
    padding: 0 22px 0;
  }
}