.header {
  max-width: 880px;
  margin: 45px auto 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #545454
}

@media screen and (max-width: 940px) {
  .header {
    width: 575px;
  }
}

@media screen and (max-width: 630px) {
  .header {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 32px;
    margin: 30px auto 0;
    padding-left: calc((100% - 280px) / 2);
  }
}