.form__title {
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #000000;
  padding: 0;
  margin: 34px auto 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 630px) {
  .form__title {
    font-size: 18px;
    margin: 25px 0 45px;
  }
}